name: ci
on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: { go-version: '1.25.x' }
      - run: go mod tidy
      - run: go test ./... -cover